html {
  margin: 10px;
}

body {
  padding: 20px;
  font-family: sans-serif;
}

p {
  margin-bottom: 2px;
}

li {
  margin-bottom: 10px;
}

ul {
  list-style-type: circle;
}

.right {
  float: right;
}

.left {
  float: left;
}

.divider {
  clear: both;
}

.page-header {
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}
