html {
  margin: 10px;
}

body {
  padding: 20px;
  font-family: sans-serif;
}

p {
  margin-bottom: 2px;
}

li {
  margin-bottom: 10px;
}

ul {
  list-style-type: circle;
}

#photo {
  margin-right: 1%;
}

#details #name {
  font-size: large;
  font-weight: bold;
}

#details #address {
  margin-top: 1em;
}

.right {
  float: right;
}

.left {
  float: left;
}

.divider {
  clear: both;
}

.page-header {
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}
